<header class="main-header">
    <h1 class="main-header__title">
        <span class="main-header__title--blue">Buy</span><span class="main-header__title--orange">Byte<i class="fa-solid fa-computer"></i></span>
    </h1>
<div class="container-menu">
    <nav class="main-header__menu">
        <ul>
            <li>
               <a href="/produtos"> 
                <i class="fa-brands fa-shopify"></i>
                Produtos
            </a> 
            </li>
            <li>
                <a href="/carrinho">
                    <i class="fa-solid fa-cart-shopping"></i>
                    Carrinho
                   <span class="badge-carrinho">{{CarrinhoService.obtemCarrinho().length }}</span>
                </a>
               
             </li>
             <li>
                <a>
                    <i class="fa-solid fa-square-phone"></i>
                    Contato
                    
                </a> 
             </li>
             <li>
                <a><i class="fa-brands fa-facebook-f"></i></a> 
             </li>
             <li>
                <a><i class="fa-brands fa-instagram"></i></a> 
             </li>
             <li>
                <a><i class="fa-brands fa-twitter"></i></a> 
             </li>
             <li>
                <a><i class="fa-brands fa-linkedin-in"></i></a> 
             </li>
        </ul>
    </nav>
</div>
    <form class="search-form" >
        <input type="text" placeholder="Busque aqui">
        <button class="seach-button"><i class="fa-solid fa-angles-right fa-beat" style="color: #df6b0d;"></i></button>
    </form>

</header>
