<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer_about-text">
                Fundada no ano de 2000, a BuyByte Informática é 
                uma empresa que trabalha com os mais variados produtos, 
                atuando principalmente no setor de informática e equipamentos eletrônicos em geral,
                 área bastante competitiva e em constante crescimento, onde qualidade, variedade, 
                 garantia e eficiência são critérios importantíssimos para total satisfação, 
                 confiança e preferência de nossos consumidores.
            </p>
        </section>
        <address>
            <h2 class="footer__title2">Contato:</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i>contato@buybyte.com.br</li>
                <li><i class="fa-solid fa-phone"></i>Central SAC:(11) 3300-0101</li>
                <li><i class="fa-brands fa-whatsapp"></i>WhatsApp(11) 99933-0101</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados.
    </section>
</footer>
