*{
    color:white;    
}


.cart-title {
    font-size: 54px;
    color:  rgb(230, 116, 22);
    font-weight: 700;
    padding: 10px 0;
    margin-top: 10px;
    text-decoration: underline;   
    display: flex;
    justify-content: center;

}

li {
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    overflow: hidden;
    margin: 50px 0;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    font-size: x-large;
    background-color:var(--gray) ;
}

img {
    width: 100px;
    height: 100px;    
    display: block;
}

.remove-button {
    background-color: red;
    border: none;
    color: white;
    padding: 20px;
    height: 100%;
    transition: .2s all;
}

.remove-button:hover {
    filter: brightness(0.9);
}

.cart-total {
    font-size: 34px;
    color: rgb(230, 116, 22);
    font-weight: 700;
    padding: 8px 0;
    margin-top: 20px;
    /* display: flex;
    align-items: end;
    justify-content: end; */
}

input {
    width: 30px;
    height: 35px;
    text-align: center;

}

.buy-button {
    background-color: rgba(6, 65, 121, 0.986);    
    border: none;
    color: white;
    padding: 10px;
    font-size: 22px;
    margin-bottom: 10px;
    transition: .3s all;         
    
}



.buy-button:hover {
    filter: brightness(0.9);
}

span{
    color: green;
 
    

}